#carouselExampleCaptions img {
    /* height: 50%; */
    /* height: 750px; */
}
#carouselExampleCaptions  .iconfont{
    font-size: 45px;
    display: inline-block;
    width: 40px;
    height: 40px;
}
#carouselExampleCaptions .carousel-indicators li{
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50%;
}
.img2{
    background-color: #f3f3f3;
}
footer{
    background-color: #f3f3f3;

}
footer ul a{
    font-size: 24px;
    color: rgb(161, 161, 161);

}
footer ul a:hover{
    text-decoration: none;
}
footer p{
    color: rgb(161, 161, 161);

}
footer li{
    cursor: pointer;
}









